# Git
alias gc="git commit"
alias gs="git status"
alias gr="git remote"
alias gb="git branch"
alias gm="git merge"
alias gp="git pull"
alias gpu="git push"
alias gpr="git pull --rebase"
alias gco="git checkout"
alias blastschema="git checkout db/schema.rb"
# switch to master branch, output list of branches that were merged into master,
# filter out the current branch (denoted with a "*" in front of it), filter out
# `master` branch as well for extra safety, then run git `branch -d branch-name`
# on the list of branch which will only delete the branch locally if git finds
# no new commits since it was merged into master
alias gitlocalpurge="git checkout master && git branch --merged | grep -v "\*" | grep -v master | xargs -n 1 git branch -d"
# switch to master branch, update list of remote branches, output list of
# branches that were merged into current (master) branch, then filter out
# `master`, `production`, and `staging` which we don't want to automatically
# delete ever, then remove the "origin/" portion of the remote branch name,
# and finally run `git push origin :branch-name` on every remaining branch in
# the list which will delete them on the origin remote
alias gitremotepurge="git checkout master && git remote update --prune | git branch -r --merged | grep -Ev "master|staging|production" | sed -e 's/origin\//:/' | xargs git push origin"
alias gittags="for t in `git tag -l`; do git cat-file -p `git rev-parse $t`; done"

# Bundler
alias be="bundle exec"

# Git Tower
alias tower="gittower"

# Xcode
alias xcode="open *.xcodeproj"

# Sublime
alias s="sublime"

# Atom
alias a="atom"

# Rails
alias migrateback='rake -g rollback_branch_migrations[master]'

if [ -f ~/.bash_secret_aliases ]; then
  source ~/.bash_secret_aliases
fi

# brew bash-completion
if [ -f $(brew --prefix)/etc/bash_completion.d/git-completion.bash ]; then
  . $(brew --prefix)/etc/bash_completion.d/git-completion.bash

  # Add git completion to aliases
  __git_complete gco _git_checkout
  __git_complete gm __git_merge
  __git_complete gp _git_pull
  __git_complete gpu _git_push
fi
